<ng-template #modalTemplate>
    <div class="modal-header clearfix">
        <h4 class="modal-title float-left">
            <ng-content select="[modalTitle]"></ng-content>
        </h4>
        <button type="button" class="close float-right" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-error-alert></app-error-alert>
        <ng-content select="[modalBody]"></ng-content>
    </div>
    <div class="modal-footer">
        <div class="text-right">
            <button class="btn btn-default" (click)="cancel()">Cancel</button>
            <ng-content select="[modalFooter]"></ng-content>
        </div>
    </div>
</ng-template>
